@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html{
    font-family: 'Open Sans', sans-serif;
    margin: 5%;
    margin-left: 30%;
    margin-right: 30%;
  }

body{
  background:#0c0e0f;
}

.main{
  background: #212124;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.position{
    margin-bottom: 15px;
    text-align:center;
}
img{
  height: 92px;
  width: 92px;

}

h1{
  font-size: 48px;
}

.fix{
  display: inline-block;
  margin: 25px;
}

a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
}

#Title{
  font-family: "Bangers";
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
  font-size: 90px;
  margin-top: -15%;
}



#arrow{
    text-align: left;
    vertical-align: super;
    height: 70px;
    width: 70px;
    position: static;
    margin: 30px;
}

#guildimage{
  height: 256px;
  width: 256px;
  border-radius: 15px;
  border: 1px solid gray;
  margin-top: -5%;
}

/* Buttom */
.control{
  display:none !important;
}
* [lang=x-show],
.show{
  display:block !important;
  max-height:none !important;
}
* [lang=x-content],
.content{
  max-height:0;
  overflow:hidden;
  transition:max-height 1s;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-show],
.control:checked + .container .show{
  display:none !important;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-hide],
.control:checked + .container .hide{
  display:block !important;
  max-height:none !important;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-content],
.control:checked + .container .content{
  max-height:600px !important;
}

.ecxshow{
  display:none !important;
}
.ecxcontent{
  max-height:none;
}

.buttom{
  font-size: 70px;
}

.Labels *{
  margin-left: 3%;
  margin-right: 3%;
}

.Labels h1{
  font-size: 36px;
  text-transform: uppercase;
  font-family: Impact;
}

.Labels h2{
  padding: 15px;
  font-size: 24px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.Labels p{
  padding: 10px;
  font-size: 24px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 15%;
}
