@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html{
    font-family: 'Open Sans', sans-serif;
  }

body{
  background:#0c0e0f;
}

.main{
  margin: 5%;
  margin-left: 29%;
  margin-right: 29%;
  background: #212124;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
}

.position{
    text-align:center;
    margin-bottom: 10%;
}

h1{
  font-size: 48px;
}

.fix{
  display: inline-block;
  margin: 25px;
}

#Title{
  font-family: "Bangers";
  text-decoration: none;
  font-size: 64px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  margin-top: 0px;
  transform: rotate(-5deg)
}



#arrow{
    text-align: left;
    height: 70px;
    width: 70px;
    position: static;
    margin: 30px;
}

#guildimage{
  height: 256px;
  width: 256px;
  border-radius: 15px;
  border: 1px solid #0c0e0f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#guildimage:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}

/* Buttom */
.control{
  display:none !important;
}
* [lang=x-show],
.show{
  display:block !important;
  max-height:none !important;
}
* [lang=x-content],
.content{
  max-height:0;
  overflow:hidden;
  transition:max-height 1.5s;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-show],
.control:checked + .container .show{
  display:none !important;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-hide],
.control:checked + .container .hide{
  display:block !important;
  max-height:none !important;
}
* [lang=x-control]:checked + [lang=x-container] [lang=x-content],
.control:checked + .container .content{
  max-height:600px !important;
}

.ecxshow{
  display:none !important;
}
.ecxcontent{
  max-height:none;
}

.buttom{
  font-size: 70px;
}

.Labels *{
  margin-left: 3%;
  margin-right: 3%;
}

.Labels h1{
  font-size: 36px;
  text-transform: uppercase;
  font-family: Impact;
  text-align: center;
}

.Labels h2{
  font-size: 26px;
  background: #0c0e0f;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 3%;
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}


.Labels h3{
  font-size: 26px;
  background: #212124;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 3%;
}

.type{
  margin: 0px;
  background: #212124;
  text-decoration: none;
  text-rendering: auto;
  color: white;
  text-shadow: none;
  cursor: text;
  font: 24px Impacta;
  border-style: none;
  border-color: none;
  border-image: none;
  text-align: start;
  width: 100%;
}
.type:focus{
  outline: 0;
}

.Labels p{
  font-size: 20px;
  margin-left: 15%;
  border-radius: 15px;
}

.container{
  padding: 5px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.configimage{
  height: 36px;
  width: 36px;
}

.buttom:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}


#SaberBot{
  font-family: "Bangers";
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: -11%;
}

.Initial{
  font-size: 100px;
}

.button{
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: 120px;
  width: 120px;
}

button{
  font-size: 400%;
  background: #212124;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: #0c0e0f;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  transition: all .5s;
}

button:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}

button:focus{
  outline: 0;
}

.button:active {
  transform: translateY(4px);
}

button:active{
  box-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}