@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html{
    font-family: 'Open Sans', sans-serif;
  }

body{
  background:#0c0e0f;
}

.main{
  background: #212124;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  transition: margin-left .5s;
  left: 25%;
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.position{
    text-align:center;
    margin-bottom: 10%;
}

#Title{
  font-family: "Bangers";
  text-decoration: none;
  font-size: 64px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  margin-top: 0px;
  transform: rotate(-5deg)
}



#arrow{
    text-align: left;
    height: 70px;
    width: 70px;
    position: static;
    margin: 30px;
}

#guildimage{
  height: 256px;
  width: 256px;
  border-radius: 15px;
  border: 1px solid #0c0e0f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#guildimage:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}

.config *{
  margin-left: 3%;
  margin-right: 3%;
}

h1{
  font-size: 36px;
  text-transform: uppercase;
  font-family: Impact;
  text-align: center;
  padding: 25px;
  background: #0c0e0f;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2{
  font-size: 26px;
  background: #0c0e0f;
  text-transform: uppercase;
  color: white;
}


h3{
  font-size: 26px;
  background: #212124;
  text-transform: uppercase;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 3%;
}

.type{
  margin: 0px;
  background: #212124;
  text-decoration: none;
  text-rendering: auto;
  color: white;
  text-shadow: none;
  cursor: text;
  font: 24px Impacta;
  border-style: none;
  border-color: none;
  border-image: none;
  text-align: start;
  width: 100%;
}
.type:focus{
  outline: 0;
}

.buttom:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}


#SaberBot{
  font-family: "Bangers";
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: -11%;
}

.Initial{
  font-size: 100px;
}

.button{
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: 120px;
  width: 120px;
  z-index: 1;
}

button{
  font-size: 400%;
  background: #212124;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: #0c0e0f;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  transition: all .5s;
}

button:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  cursor: pointer;
}

button:focus{
  outline: 0;
}

.button:active {
  transform: translateY(4px);
}

button:active{
  box-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
}

/* Effect Button */
.sidenav {
  height: 100%;
  position: absolute;
  top: 3%;
  left: 51%;
  background-color: #0c0e0f;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav *{
  padding: 1.5%;
}

.content{
  display: none;
}

.buttonfunction:active{
  transform: translateY(4px);
}

.buttonfunction:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  cursor: pointer;
}

.faicon{
  text-decoration: none;
  color: white;
  text-shadow: white;
  transition: all .5s;
  font-size: 250%;
  background: #212124;
  border: #0c0e0f;
  border-radius: 100%;
}

.faicon:hover{
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  cursor: pointer;
}


h4{
  font-size: 20px;
  background: #0c0e0f;
  text-transform: uppercase;
  color: white;
  margin-left: 3%;
}

h6{
  font-size: 20px;
  background: #0c0e0f;
  text-transform: uppercase;
  color: white;
  margin: 0px;
  margin-left: 6%;
}

.mutekickban{
  margin: 0px;
  background: #212124;
  text-decoration: none;
  text-rendering: auto;
  color: white;
  text-shadow: none;
  cursor: text;
  font: 16px Impacta;
  border-style: none;
  border-color: none;
  border-image: none;
  text-align: start;
  width: 11%;
  height: 1%;
  border-radius: 15px;
  margin-left: 2%;
}
.mutekickban:focus{
  outline: 0;
}


/* .checkboxavisos{
} */

