@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html{
    font-family: 'Open Sans', sans-serif;
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align:center;
  }

body{
  background:#0c0e0f;
}

/* header{
  
}

footer{

}

.topo{

} */

.main{
  background: #212124;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 15%;
}

.login{
  margin-bottom: 15px;
}
img{
  height: 92px;
  width: 92px;

}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

.fix{
  display: inline-block;
  margin: 25px;
}

a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
}

#Title{
  font-family: "Bangers";
  color: crimson;
  text-shadow: 0 0 15px rgba(244, 0, 0, 0.71);
  text-decoration: none;
  font-size: 80px;
}


/* Effect */
div.login { 
  list-style-type: none;
  margin:0;
  padding:0;
  text-align:center; 
}
div.login div {
  width:150px;
  height:150px;
  margin-right:1em;
  position:relative;
  margin-bottom:1em;
  display:inline-block;
}
div.login div:hover span.text-content {
  opacity:1;
}
span.text-content {
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  color:white;
  cursor:pointer;
  display:table;
  width:150px;
  height:150px;
  opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
span.text-content span {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}