<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="../static/assets/css/dashboard.css">
</head>
<body>

    <div class="perfil">
    <img src="{{avatar_url}}" alt="Avatar">
    <h1>{{user_info.username}}</h1>
    <p>Usuário: {{user_info.username}}#{{user_info.discriminator}}</p>
    <p>Email: {{user_info.email}}</p>
    <p>ID: {{user_info.id}}</p>
    </div>

    
</html>