<!-- {'id': '697837790729207859', 'name': 'Servidor de Giba Oliveira', 'icon': '562f3c2f7bc82140a22813f37c1a73a4', 'owner': False, 'permissions': 104324673, 'features': []}] -->

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/css/guild.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/js/script.js')}}">
    <title>Bot Saber</title>

    <link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/images/gearconfig.png">
</head>
<body>
    <div class="main">
        <a href="{{url_for('index')}}">
            <img src="../../static/assets/images/arrow.png" alt="Arrow" id="arrow">
        </a>
        <div class="position">
            <h1 id="Title">DashBoard</h1>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Configurações Gerais</span></span>
                        <img src="../../static/assets/images/gearconfig.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('invite')}}">
                        <span class="text-content"><span>Comandos</span></span>
                        <img src="../../static/assets/images/commands.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('status')}}">
                        <span class="text-content"><span>Mensagens</span></span>
                        <img src="../../static/assets/images/status.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Moderação</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Youtube</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Twitch</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Twitter</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Autorole</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
            <div>
                <a class="fix" href="{{url_for('login')}}">
                        <span class="text-content"><span>Registros de Auditoria</span></span>
                        <img src="../../static/assets/images/gear.png" alt="Login">
                </a>
            </div>
        </div>
    </div>
</body>
</html>