<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/css/guild.css')}}">
    <title>{{guild_name}} - {{BotName}}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename= 'assets/images/gearconfigicon.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="main" id="disabled">
        <a href="{{url_for('dashHome')}}">
            <img src="{{url_for('static', filename= 'assets/images/arrow.png')}}" alt="Arrow" id="arrow">
        </a>
        <div class="position">
            <h5 id="SaberBot"><span class="Initial">S</span>aber<span class="Initial">B</span>ot</h5>
            <h1 id="Title">{{guild_name}}</h1>
        </div>
        <div class="cofig">
            <br>
            <h1 id="openclose" class="buttonfunction"><i class="fa fa-tasks" aria-hidden="true"></i> Registro de Auditoria <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton"></i></h1>
            <br>
            <h1 id="openclose1" class="buttonfunction"><i class="fa fa-gears" aria-hidden="true"></i> Configurações Gerais <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton1"></i></h1>
            <br>
            <h1 id="openclose2" class="buttonfunction"><i class="fa fa-warning" aria-hidden="true"></i> Moderação <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton2"></i></h1>     
            <br>
            <h1 id="openclose3" class="buttonfunction"><i class="fa fa-code" aria-hidden="true"></i> Comandos <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton3"></i></h1>
            <br>          
            <h1 id="openclose4" class="buttonfunction"><i class="fa fa-group" aria-hidden="true"></i> Redes Sociais <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton4"></i></h1>
            <br>
            <h1 id="openclose5" class="buttonfunction"><i class="fa fa-gear" aria-hidden="true"></i> AutoRole <i class="fa fa-arrow-circle-right" aria-hidden="true" id="saberbutton5"></i></h1>    
            <br>
        </div>
    </div>


    <div id="mySidenav" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav">Por enquanto nada</h2>
    </div>

    <div id="mySidenav1" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav1">prefixo</h2>
        <h3 class="textmysidenav1"><input type="text" value="{{guild_name}}" class="type" maxlength="50"></h3>
        <h2 class="textmysidenav1">configurar limite dos dados (respeitando os originais)</h2>
        <h2 class="textmysidenav1">mensagem e valor do limite add</h2>
        <h2 class="textmysidenav1">baixar informação do bot sobre o server</h2>
        <h2 class="textmysidenav1">deletar informação do bot sobre o server</h2>
    </div>

    <div id="mySidenav2" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav2">config avisos </h2>
        <p class="textmysidenav2">num de avisos pra mute/kick/ban</p>
        <p class="textmysidenav2">tempo de mute/ban</p>
        <p class="textmysidenav2">tempo dos avisos</p>
        <h2 class="textmysidenav2">mensagens</h2>
        <p class="textmysidenav2">mensagens dos avisos</p>
        <p class="textmysidenav2">dm</p>
        <p class="textmysidenav2">chat</p>
        <p class="textmysidenav2">personalizada</p>
        <h2 class="textmysidenav2">lista global de users ban</h2>
        <p class="textmysidenav2">ban auto e/ou aviso staff chat ou owner dm</p>
        <p class="textmysidenav2">ban words</p>
    </div>

    <div id="mySidenav3" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav3">desativar comandos</h2>
        <h2 class="textmysidenav3">desativar comandos em chat</h2>
        <h2 class="textmysidenav3">enviar mensagem / aviso / deletar mensagem</h2>
        <p class="textmysidenav3">deletar informação do bot sobre o server</p>
        <h2 class="textmysidenav3">setadm (?)</h2>
    </div>

    <div id="mySidenav4" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav4">Por enquanto nada</h2>
    </div>

    <div id="mySidenav5" class="sidenav" style="width: 0%; display: none;">
        <h2 class="textmysidenav5">depois de X tempo</h2>
        <h2 class="textmysidenav5">depois de enviar mensagem</h2>
    </div>


    <div class="button" id="change">
        <button id="changing">
            <i class="fa fa-cloud-upload" aria-hidden="true" id="changed"></i> 
        </button>
    </div>
    <script>


        $(document).ready(function(){
            $("#change").click(function() {
                var changing = $("#changing")
                var changed = $("#changed");
                changed.removeClass('fa-cloud-upload').addClass('fa-check');
                changing.animate({boxShadow: '0 0 15px rgba(244, 0, 0, 0.71)', fontSize: '600%', textShadow: '0 0 15px rgba(244, 0, 0, 0.71)'}, "fast");
                changing.animate({textShadow: '0 0 0px rgba(0, 0, 0, 0)'}, 'slow');
                changing.animate({fontSize: '400%'}, 'slow');
                changing.animate({boxShadow: '10px 10px 5px 0px rgba(0,0,0,0.75)'}, 'slow');     
            });

            $(".buttonfunction").click(function() {
                var id = $(this).attr('id');
                if (id == 'openclose'){
                    var idmySidenav = $('#mySidenav');
                    var classtextmysidenax = $('.textmysidenav');
                    var idsaberbutton =  $('#saberbutton');
                }
                else if (id == 'openclose1'){
                    var idmySidenav = $('#mySidenav1');
                    var classtextmysidenax = $('.textmysidenav1');
                    var idsaberbutton =  $('#saberbutton1');
                }
                else if (id == 'openclose2'){
                    var idmySidenav = $('#mySidenav2');
                    var classtextmysidenax = $('.textmysidenav2');
                    var idsaberbutton =  $('#saberbutton2');
                }
                else if (id == 'openclose3'){
                    var idmySidenav = $('#mySidenav3');
                    var classtextmysidenax = $('.textmysidenav3');
                    var idsaberbutton =  $('#saberbutton3');
                }
                else if (id == 'openclose4'){
                    var idmySidenav = $('#mySidenav4');
                    var classtextmysidenax = $('.textmysidenav4');
                    var idsaberbutton =  $('#saberbutton4');
                }
                else if (id == 'openclose5'){
                    var idmySidenav = $('#mySidenav5');
                    var classtextmysidenax = $('.textmysidenav5');
                    var idsaberbutton =  $('#saberbutton5');
                }




                if (idmySidenav.width() == 0){
                    $('.main').animate({left: '0'}, 'slow');
                    idmySidenav.width('49%');
                    idmySidenav.show(200);
                    classtextmysidenax.show();
                    idsaberbutton.removeClass('fa fa-arrow-circle-right').addClass('fa fa-arrow-circle-left');
                }
                else{
                    $('.main').animate({left: '25%'}, 'slow');
                    classtextmysidenax.hide("fast");
                    idmySidenav.width('0%');
                    idsaberbutton.removeClass('fa fa-arrow-circle-left').addClass('fa fa-arrow-circle-right');
                    idmySidenav.fadeOut("100");
                }
            });

        });
    </script>
</body>
</html>