<!-- {'id': '697837790729207859', 'name': 'Servidor de Giba Oliveira', 'icon': '562f3c2f7bc82140a22813f37c1a73a4', 'owner': False, 'permissions': 104324673, 'features': []}] -->

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/css/guild.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/js/script.js')}}">
    <title>Bot Saber</title>

    <link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/images/gearconfig.png">
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="../static/assets/css/dashboard.css">
</head>
<body>
    <div class="main">
        <a href="{{url_for('index')}}">
            <img src="../../static/assets/images/arrow.png" alt="Arrow" id="arrow">
        </a>
        <div class="position">
            <h1 id="Title">Grandes Jogos Reborn</h1>
        </div>
        <div class="cofig">
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-gears" aria-hidden="true"></i> Configurações Gerais <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-gears" aria-hidden="true"></i> Configurações Gerais <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                        <h2>configurar limite dos dados (respeitando os originais)</h2>
                        <h2>mensagem e valor do limite add</h2>
                        <h2>baixar informação do bot sobre o server</h2>
                        <h2>deletar informação do bot sobre o server</h2>
                        <h2>prefixo</h2>
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-code" aria-hidden="true"></i> Comandos <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-code" aria-hidden="true"></i> Comandos <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                        <h2>desativar comandos</h2>
                        <h2>desativar comandos em chat</h2>
                        <h2>enviar mensagem / aviso / deletar mensagem</h2>
                        <p>deletar informação do bot sobre o server</p>
                        <h2>setadm (?)</h2>
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-wechat" aria-hidden="true"></i> Mensagens <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-wechat" aria-hidden="true"></i> Mensagens <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                        <h2>alterar embeds</h2>
                        <p>embeds vao para o db</p>
                        <h2>log avisos/mute/kick/ban</h2>
                        <h2>mensagem em chat</h2>
                        <h2>log vai para o db</h2>
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-warning" aria-hidden="true"></i> Moderação <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-warning" aria-hidden="true"></i> Moderação <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                        <h2>config avisos </h2>
                        <p>num de avisos pra mute/kick/ban</p>
                        <p>tempo de mute/ban</p>
                        <p>tempo dos avisos</p>
                        <h2>mensagens</h2>
                        <p>mensagens dos avisos</p>
                        <p>dm</p>
                        <p>chat</p>
                        <p>personalizada</p>
                        <h2>lista global de users ban</h2>
                        <p>ban auto e/ou aviso staff chat ou owner dm</p>
                        <p>ban words</p>
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-youtube-play" aria-hidden="true"></i> youtube <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-youtube-play" aria-hidden="true"></i> youtube <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-twitch" aria-hidden="true"></i> twitch <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-twitch" aria-hidden="true"></i> twitch <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-twitter" aria-hidden="true"></i> twitter <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-twitter" aria-hidden="true"></i> twitter <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-gear" aria-hidden="true"></i> autorole <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-gear" aria-hidden="true"></i> autorole <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                        <h2>depois de X tempo</h2>
                        <h2>depois de enviar mensagem</h2>
                    </div>
                </div>
            </label>
            <br>
            <label class="Labels">
                <input type="checkbox" style="display:none !important;" class="control" lang="x-control">
                <div class="container" lang="x-container">
                    <div class="show buttom" lang="x-show" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-tasks" aria-hidden="true"></i> registro de auditoria <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h1>
                    </div>
                    <div class="hide buttom" lang="x-hide" style="display:none;max-height:0;overflow:hidden;">
                        <h1><i class="fa fa-tasks" aria-hidden="true"></i> registro de auditoria <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="content" lang="x-content">
                    </div>
                </div>
            </label>
            <br>
        </div>
    </div>
</body>
</html>