<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status - {{BotName}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'assets/css/status.css')}}">

    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename= 'assets/images/statusicon.png')}}">
</head>
<body>
    <div class="main">
        <a href="{{url_for('index')}}">
            <img src="{{url_for('static', filename= 'assets/images/arrow.png')}}" alt="Arrow" id="arrow">
        </a>
        <div class="position">
            <h1 id="Title">Status</h1>
            <h2>Delay API Random.org</h2>
            <p>{{random}}ms</p>
            <h2>Delay API Discord</h2>
            <p>{{discord}}ms</p>
            <h2>Data Base Status</h2>
            {% if db == True %}
                <p class="uppsercase">✔ Online</p>
            {% else %}
                <p class="uppsercase">❌ Offline</p>
            {% endif %}
        </div>
    </div>
</body>
</html>