<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="../static/assets/css/status.css">

    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/images/status.png">
</head>
<body>
    <div class="main">
        <a href="{{url_for('index')}}">
            <img src="../static/assets/images/arrow.png" alt="Arrow" id="arrow">
        </a>
        <div class="position">
            <h1 id="Title">Status</h1>
            <h2>Delay API Random.org</h2>
            <p>{{random}}</p>
            <h2>Delay API Discord</h2>
            <p>{{discord}}</p>
            <h2>Data Base Status</h2>
            {% if db == True %}
                <p>✔ Online</p>
            {% else %}
                <p>❌ Offline</p>
            {% endif %}
        </div>
    </div>
</body>
</html>