#Preencha todos os campos antes de executar o main.py
#Em embeds.py tem todas as mensagens que o bot envia

TOKEN_DISCORD:  #Token do seu bot https://discordapp.com/developers/applications

PREFIX:  #Prefixo dos comandos do bot

LIM_ADD:  #Limite de pontos que podem ser adionados em 1 comando

LIM_MULT:  #Limite do multiplicador de dados

LIM_QNT:  #Limite da quantidade de dados

LIM_DADO:  #Limite do número de lados do dado

#API SaberBot - Token que não expira e será usado apenas no bot
TOKEN_JWT: 

#API do https://api.random.org
RNG_KEY: 
RNG_ID: 

#CONNECT MySQL (Em bot.sql tem o arquivo para criar o db)
HOST: 
USER: 
PASSWORD: 
DB: 
PORT: 